<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>TO DO List</title>
    <script>
        var model = {
            user: "PassXYZ",
            items: [{ action: "Username", value: "PassXYZ", done: false },
                { action: "Password", value: "87654321", done: true },
                { action: "Mobile", value: "123456789", done: false },
                { action: "Url", value: "http://passxyz.github.io", done: false }]
        };
    </script>
    <script src="js/bundle.js"></script>
</head>
<body ng-controller="ToDoCtrl">
    <div class="page-header">
        <h3>
            {{todo.user}}'s account information
            <span class="label label-default" ng-class="warningLevel()"
                  ng-hide="incompleteCount() == 0">
                {{incompleteCount()}}
            </span>
        </h3>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tbody>
                    <tr ng-repeat=
                        "item in todo.items | checkedItems:showComplete">
                            <td><b>{{item.action}}</b></td>
                            <td ng-hide="item.done">{{item.value}}</td>
                            <td ng-show="item.done"><input type="password" ng-model="item.value" /></td>
                            <td><input type="checkbox" ng-model="item.done" /></td>
                    </tr>
            </tbody>
        </table>

        <div class="checkbox-inline">
            <label><input type="checkbox" ng_model="showComplete">Show Password</label>
        </div>
    </div>

</body>
</html>
